* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_4 {
  width: 100%;
  height: 1720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_4 {
  width: 100%;
  height: 989px;
  background: url("../images/v15_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v15_5 {
  width: 100%;
  height: 989px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
}
.v0_15 {
  width: 100%;
  height: 446px;
  background: url("../images/v0_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 267px;
  overflow: hidden;
}
.v0_16 {
  width: 100%;
  height: 200px;
  background: url("../images/v0_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_17 {
  width: 100%;
  color: rgba(6,8,37,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px; /* Ajustar conforme necessário */
  opacity: 1;
  text-align: center;
  word-wrap: break-word; /* Permite que o texto quebre em múltiplas linhas */
  overflow: hidden; /* Esconde qualquer texto que ultrapasse a largura do contêiner */
}

.v1_45 {
  width: 558px;
  height: 109px;
  background: url("../images/v1_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 329px;
  overflow: hidden;
}
.v0_20 {
  width: 558px;
  height: 109px;
  background: url("../images/v0_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v211_226 {
  width: 558px;
  height: 109px;
  background: url("../images/v211_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v211_227 {
  width: auto; /* Ajusta a largura automaticamente com base no conteúdo */
  height: 109px;
  padding: 0 20px; /* Adiciona espaçamento interno para o conteúdo não encostar nas bordas */
  background: rgba(6,8,37,1);
  opacity: 0.9;
  position: relative; /* Ajuste a posição para relativa */
  border-radius: 40px; /* Bordas arredondadas */
  box-shadow: 0px 15px 35px rgba(6, 8, 37, 0.2);
  display: inline-block; /* Permite que o elemento se ajuste ao tamanho do conteúdo */
  overflow: visible; /* Permite que o conteúdo exceda o contêiner */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
  color: white;
}

.v211_227 a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: white; /* Cor dos links */
  font-weight: bold; /* Fonte em negrito */
  display: inline-block; /* Transforma os links em elementos de bloco */
  padding: 8px 15px; /* Espaçamento interno dos links */
}

.v211_227 a:hover {
  color: #f00; /* Cor dos links ao passar o mouse (opcional) */
}

.v211_228 {
  width: auto; /* Ajusta a largura automaticamente com base no conteúdo */
  height: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Adiciona espaçamento interno para o conteúdo não encostar nas bordas */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}


.v52_162 {
  width: 100%;
  height: 206px;
  background: url("../images/v52_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 1px;
  overflow: hidden;
}
.v18_7 {
  width: 100%;
  height: 206px;
  background: url("../images/v18_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v52_161 {
  width: 100%;
  height: 206px;
  background: rgba(109,109,109,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_6 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 64px;
  left: 43px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v18_10 {
  width: 280px;
  height: 62px;
  background: url("../images/v18_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1368px;
  overflow: hidden;
}
.v18_8 {
  width: 280px;
  height: 62px;
  background: rgba(0,244,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v18_9 {
  width: 221px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 43px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v26_374 {
  width: 100%;
  height: 280px;
  background: url("../images/v26_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1234px;
  left: 210px;
  overflow: hidden;
}
.v19_36 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 555px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v19_61 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1016px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v22_87 {
  width: 100%;
  height: 280px;
  background: url("../images/v22_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_37 {
  width: 201px;
  height: 61px;
  background: url("../images/v19_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 77px;
  overflow: hidden;
}
.v19_35 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v22_86 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v22_88 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 485px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v22_89 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 927px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v211_221 {
  width: 175px;
  height: 130px;
  background: url("../images/v211_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1281px;
  left: 300px;
  overflow: hidden;
}
.v211_223 {
  width: 150px;
  height: 124px;
  background: url("../images/v211_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1289px;
  left: 801px;
  overflow: hidden;
}
.v211_225 {
  width: 166px;
  height: 124px;
  background: url("../images/v211_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1284px;
  left: 508px;
  overflow: hidden;
}
.v0_10 {
  width: 100%;
  height: 98px;
  background: url("../images/v0_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_452 {
  width: 100%;
  height: 98px;
  background: rgba(255,255,255,1);
  opacity: 0.800000011920929;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v0_11 {
  width: 423px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 20px;
  left: 9px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
  font-family: Montserrat;
  font-weight: Black;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v0_13 {
  width: 29px;
  height: 39px;
  background: url("../images/v0_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 29px;
  overflow: hidden;
}
.v0_14 {
  width: 29px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v52_94 {
  width: 632px;
  height: 24px;
  background: url("../images/v52_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 701px;
  overflow: hidden;
}
.v52_89 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_90 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 138px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_91 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 273px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_92 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 423px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_93 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 573px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_111 {
  width: 660px;
  height: 80px;
  background: url("../images/v52_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1051px;
  overflow: hidden;
}

.v52_111 a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: #333; /* Cor dos links */
  font-weight: bold; /* Fonte em negrito */
  display: inline-block; /* Transforma os links em elementos de bloco */
  padding: 8px 15px; /* Espaçamento interno dos links */
}

.v52_111 a:hover {
  color: #f00; /* Cor dos links ao passar o mouse (opcional) */
}

.v52_112 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;

}
.v52_113 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 138px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_114 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 273px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_115 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 423px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_116 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 573px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_108 {
  width: 423px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 20px;
  left: 9px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
  font-family: Montserrat;
  font-weight: Black;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v52_109 {
  width: 29px;
  height: 39px;
  background: url("../images/v52_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1723px;
  overflow: hidden;
}
.v52_110 {
  width: 29px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}