* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v75_86 {
  width: 100%;
  height: 1720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v75_87 {
  width: 100%;
  height: 989px;
  background: url("../images/v75_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v75_88 {
  width: 100%;
  height: 989px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 2px;
}
.v75_89 {
  width: 100%;
  height: 323px;
  background: url("../images/v75_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 36px;
  overflow: hidden;
}
.v75_90 {
  width: 100%;
  height: 323px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v75_91 {
  width: 346px;
  height: 68px;
  background: url("../images/v75_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 1300px;
  overflow: hidden;
}
.v75_92 {
  width: 346px;
  height: 68px;
  background: rgba(6,8,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v75_93 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 23px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v75_94 {
  width: 771px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 43px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v75_95 {
  width: 308px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 122px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v75_96 {
  width: 326px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 173px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v75_97 {
  width: 212px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 228px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v75_98 {
  width: 384px;
  height: 236px;
  background: url("../images/v75_98.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 67px;
}
.v75_99 {
  width: 100%;
  height: 323px;
  background: url("../images/v75_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 36px;
  overflow: hidden;
}
.v75_100 {
  width: 100%;
  height: 323px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v75_101 {
  width: 346px;
  height: 68px;
  background: url("../images/v75_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 1300px;
  overflow: hidden;
}
.v75_102 {
  width: 346px;
  height: 68px;
  background: rgba(6,8,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v75_103 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 23px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v75_104 {
  width: 791px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 43px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v75_105 {
  width: 308px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 122px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v75_106 {
  width: 326px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 173px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v75_107 {
  width: 212px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 228px;
  left: 479px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v75_108 {
  width: 384px;
  height: 236px;
  background: url("../images/v75_108.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 67px;
}
.v75_109 {
  width: 100%;
  height: 52px;
  background: url("../images/v75_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 254px;
  overflow: hidden;
}
.v75_110 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_111 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_112 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_113 {
  width: 282px;
  height: 52px;
  background: rgba(6,8,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v75_114 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v75_116 {
  width: 917px;
  height: 52px;
  background: url("../images/v75_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 320px;
  overflow: hidden;
}
.v75_117 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_118 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_119 {
  width: 282px;
  height: 52px;
  background: rgba(6,8,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v75_120 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v75_122 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 324px;
  overflow: hidden;
}
.v75_123 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_124 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_125 {
  width: 282px;
  height: 52px;
  background: rgba(6,8,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v75_126 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v75_128 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 635px;
  overflow: hidden;
}
.v75_129 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_130 {
  width: 282px;
  height: 52px;
  background: url("../images/v75_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_131 {
  width: 282px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v75_132 {
  width: 178px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 15px;
  left: 52px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v75_134 {
  width: 100%;
  height: 206px;
  background: url("../images/v75_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1018px;
  left: 0px;
  overflow: hidden;
}
.v75_135 {
  width: 100%;
  height: 206px;
  background: url("../images/v75_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_136 {
  width: 100%;
  height: 206px;
  background: rgba(109,109,109,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_137 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 58px;
  left: 68px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v75_138 {
  width: 268px;
  height: 62px;
  background: url("../images/v75_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1310px;
  overflow: hidden;
}
.v75_139 {
  width: 268px;
  height: 62px;
  background: rgba(0,244,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v75_140 {
  width: 211px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 41px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v75_141 {
  width: 100%;
  height: 280px;
  background: url("../images/v75_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1332px;
  left: 204px;
  overflow: hidden;
}
.v75_142 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 574px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v75_143 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1016px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v75_144 {
  width: 89px;
  height: 98px;
  background: rgba(35,31,32,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 1058px;
}
.name {
  color: #fff;
}
.v75_146 {
  width: 100%;
  height: 280px;
  background: url("../images/v75_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_147 {
  width: 201px;
  height: 61px;
  background: url("../images/v75_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 77px;
  overflow: hidden;
}
.v75_148 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v75_150 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v75_151 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 485px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v75_152 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 927px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v75_153 {
  width: 100%;
  height: 98px;
  background: url("../images/v75_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v75_154 {
  width: 100%;
  height: 98px;
  background: rgba(255,255,255,1);
  opacity: 0.800000011920929;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v75_155 {
  width: 423px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 20px;
  left: 9px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
  font-family: Montserrat;
  font-weight: Black;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v75_156 {
  width: 530px;
  height: 24px;
  background: url("../images/v75_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1026px;
  overflow: hidden;
}
.v75_157 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v75_158 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 138px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v75_159 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 273px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v75_160 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 423px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
