* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_49 {
  width: 100%;
  height: 1720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v64_50 {
  width: 100%;
  height: 989px;
  background: url("../images/v64_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v64_51 {
  width: 100%;
  height: 989px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
}
.v64_127 {
  width: 700px;
  height: 897px;
  background: url("../images/v64_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 526px;
  overflow: hidden;
}
.v64_130 {
  width: 580px;
  height: 109px;
  background: url("../images/v64_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 59px;
  overflow: hidden;
}
.v64_131 {
  width: 580px;
  height: 109px;
  background: rgba(6,8,37,1);
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 15px 35px rgba(0.0235294122248888, 0.0313725508749485, 0.14509804546833038, 0.20000000298023224);
  overflow: hidden;
}
.v64_132 {
  width: 405px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 58px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_134 {
  width: 580px;
  height: 80px;
  background: url("../images/v64_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 61px;
  overflow: hidden;
}
.v64_136 {
  width: 580px;
  height: 80px;
  background: rgba(124,124,124,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v64_137 {
  width: 490px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 17px;
  left: 69px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_141 {
  width: 580px;
  height: 80px;
  background: url("../images/v64_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 61px;
  overflow: hidden;
}
.v64_142 {
  width: 580px;
  height: 80px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v64_143 {
  width: 490px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 21px;
  left: 69px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v64_147 {
  width: 580px;
  height: 80px;
  background: url("../images/v64_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 61px;
  overflow: hidden;
}
.v64_149 {
  width: 580px;
  height: 80px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v64_150 {
  width: 490px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 23px;
  left: 69px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_153 {
  width: 580px;
  height: 80px;
  background: url("../images/v64_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 59px;
  overflow: hidden;
}
.v64_155 {
  width: 580px;
  height: 80px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v64_156 {
  width: 490px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 17px;
  left: 71px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_196 {
  width: 580px;
  height: 80px;
  background: url("../images/v64_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 652px;
  left: 61px;
  overflow: hidden;
}
.v64_197 {
  width: 580px;
  height: 80px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v64_198 {
  width: 490px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 17px;
  left: 71px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_180 {
  width: 580px;
  height: 80px;
  background: url("../images/v64_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 59px;
  overflow: hidden;
}
.v64_181 {
  width: 580px;
  height: 80px;
  background: rgba(133,134,135,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v64_182 {
  width: 490px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 17px;
  left: 71px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_163 {
  width: 700px;
  color: rgba(6,8,37,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v64_86 {
  width: 100%;
  height: 280px;
  background: url("../images/v64_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1234px;
  left: 210px;
  overflow: hidden;
}
.v64_87 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 574px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v64_88 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1016px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v64_89 {
  width: 89px;
  height: 98px;
  background: rgba(35,31,32,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 1058px;
}
.name {
  color: #fff;
}
.v64_91 {
  width: 100%;
  height: 280px;
  background: url("../images/v64_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_92 {
  width: 201px;
  height: 61px;
  background: url("../images/v64_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 77px;
  overflow: hidden;
}
.v64_93 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v64_95 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v64_96 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 485px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v64_97 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 927px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v64_98 {
  width: 100%;
  height: 98px;
  background: url("../images/v64_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v64_99 {
  width: 100%;
  height: 98px;
  background: rgba(255,255,255,1);
  opacity: 0.800000011920929;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v64_100 {
  width: 423px;
  color: rgba(6,8,37,1);
  position: absolute;
  top: 20px;
  left: 9px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20000000298023224);
  font-family: Montserrat;
  font-weight: Black;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v64_101 {
  width: 29px;
  height: 39px;
  background: url("../images/v64_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1723px;
  overflow: hidden;
}
.v64_102 {
  width: 29px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v64_103 {
  width: 632px;
  height: 24px;
  background: url("../images/v64_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1051px;
  overflow: hidden;
}
.v64_104 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v64_105 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 138px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v64_106 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 273px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v64_107 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 423px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v64_108 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 573px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
