<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/carrinho.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v75_190">
    <div class="v75_191"></div>
    <div class="v75_192"></div>
    <div class="v75_193">
        <div class="v75_194">
            <div class="v75_195"></div>
            <span class="v75_196">Deseja Procurar e Alugar Mais Recintos Desportivos?</span></div>
        <div class="v75_197">
            <div class="v75_198"></div>
            <span class="v75_199">Saiba Mais</span></div>
    </div>
    <div class="v75_200">
        <div class="v75_201"></div>
        <div class="v75_302"><span class="v75_301">Subtotal (1 Reserva): 25,00€</span>
            <div class="v75_202">
                <div class="v75_203"></div>
                <span class="v75_204">Confirmar Reserva</span></div>
        </div>
        <span class="v75_205">Campo Futebol de Perre</span><span class="v75_206">Dia: 12/12/2024</span><span
            class="v75_207">Hora: 15h</span><span class="v75_208">Duração: 1 Hora</span><span
            class="v75_209">Total: 25€</span>
        <div class="v75_210"></div>
    </div>
    <div class="v75_211">
        <div class="v75_212"><span class="v75_213">Procure</span></div>
        <div class="name"></div>
        <span class="v75_215">Procure campos e recintos desportivos perto de si.</span><span class="v75_216">Reserve online e receba a confirmação instantânea por e-mail.</span><span
            class="v75_217">Entre em campo e jogue.</span>
        <div class="v75_218"></div>
        <div class="name"></div>
        <span class="v75_220">Jogue</span><span class="v75_221">Reserve</span></div>
    <span class="v75_222">Carrinho</span>
    <div class="v75_285">
        <div class="v75_286"></div>
        <span class="v75_287">AlugaRecintos</span>
        <div class="v75_288"><span class="v75_289">Reservas</span><span class="v75_290">Recintos</span><span
                class="v75_291">Sobre Nós</span><span class="v75_292">Contactos</span><span class="v75_305">1</span>
        </div>
        <div class="v75_306">
            <div class="name"></div>
        </div>
        <div class="name"></div>
    </div>
</div>
</body>
</html>