<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/confirmacao.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v66_301"><span class="v66_302">Tem a certeza que pretende cancelar a reserva?</span>
    <div class="v66_304">
        <div class="v66_305"></div>
        <span class="v66_306">Sim</span></div>
    <div class="v66_307">
        <div class="v66_308"></div>
        <span class="v66_309">Não</span></div>
</div>
</body>
</html>