<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/contactos.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v26_444">
    <div class="v26_445"></div>
    <div class="v26_446"></div>
    <div class="v26_543">
        <div class="v26_544">
            <div class="v26_545"></div>
            <div class="v26_546">
                <div class="v26_547"></div>
                <span class="v26_548">Email</span></div>
            <div class="v26_549">
                <div class="v26_550"></div>
                <span class="v26_551">Assunto</span></div>
            <div class="v26_552">
                <div class="v26_553"></div>
                <span class="v26_554">Mensagem</span></div>
            <div class="v26_555">
                <div class="v26_556"></div>
                <span class="v26_557">accept all the Privacy Policy</span></div>
            <div class="v26_558">
                <div class="v26_559"></div>
                <span class="v26_560">Enviar</span></div>
        </div>
        <span class="v26_489">Contacta-nos</span></div>
    <div class="v52_106">
        <div class="v52_107"></div>
        <span class="v52_108">AlugaRecintos</span>
        <div class="v52_109">
            <div class="v52_110"></div>
        </div>
        <div class="v52_111">
            <span class="v52_112"><a href="/reservas">Reservas</a></span>
            <span class="v52_113"><a href="/recintos">Recintos</a></span>
            <span class="v52_114"><a href="/sobre-nos">Sobre Nós</a></span>
            <span class="v52_115"><a href="/contactos">Contactos</a></span>
            <span class="v52_116"><a href="/registo">Registar</a></span>
        </div>
    </div>
</div>
</body>
</html>