<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/contactos.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v26_444">
    <div class="v26_445"></div>
    <div class="v26_446"></div>
    <div class="v26_543">
        <div class="v26_544">
            <div class="v26_545"></div>
            <div class="v26_546">
                <div class="v26_547"></div>
                <span class="v26_548">Email</span></div>
            <div class="v26_549">
                <div class="v26_550"></div>
                <span class="v26_551">Assunto</span></div>
            <div class="v26_552">
                <div class="v26_553"></div>
                <span class="v26_554">Mensagem</span></div>
            <div class="v26_555">
                <div class="v26_556"></div>
                <span class="v26_557">accept all the Privacy Policy</span></div>
            <div class="v26_558">
                <div class="v26_559"></div>
                <span class="v26_560">Enviar</span></div>
        </div>
        <span class="v26_489">Contacta-nos</span></div>
    <div class="v52_139">
        <div class="v52_140"></div>
        <span class="v52_141">AlugaRecintos</span>
        <div class="v52_144"><span class="v52_145">Reservas</span><span class="v52_146">Recintos</span><span
                class="v52_147">Sobre Nós</span><span class="v52_148">Contactos</span><span class="v52_149">Login</span>
        </div>
    </div>
</div>
</body>
</html>