<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/home.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v0_4">
    <div class="v15_4"></div>
    <div class="v15_5"></div>
    <div class="v0_15">
        <div class="v0_16"><span class="v0_17">Encontre e Reserve Recintos Desportivos Perto de Si</span></div>
        <div class="v1_45">
            <div class="v0_20">
                <div class="v0_21">
                    <div class="v0_22"></div>
                    <span class="v0_23">Procurar Campo</span></div>
            </div>
            <div class="name"></div>
        </div>
        <div class="v1_44">
            <div class="v3_434">
                <div class="v1_21">
                    <div class="v1_19">
                        <div class="v1_20"></div>
                    </div>
                    <span class="v1_7">Desporto</span></div>
                <div class="name"></div>
            </div>
            <div class="v3_436">
                <div class="v3_437">
                    <div class="v3_438"></div>
                </div>
                <span class="v3_440">Localização</span>
                <div class="name"></div>
            </div>
            <div class="v3_443">
                <div class="v3_444">
                    <div class="v3_445">
                        <div class="v3_446"></div>
                    </div>
                    <span class="v3_448">Data</span></div>
                <div class="name"></div>
            </div>
        </div>
    </div>
    <div class="v52_162">
        <div class="v18_7">
            <div class="v52_161"></div>
            <span class="v18_6">É dono de um clube desportivo e gostaria de aderir ao nosso serviço?</span></div>
        <div class="v18_10">
            <div class="v18_8"></div>
            <span class="v18_9">Saiba Mais</span></div>
    </div>
    <div class="v26_374"><span class="v19_36">Reserve</span><span class="v19_61">Jogue</span>
        <div class="v22_76"></div>
        <div class="name"></div>
        <div class="v22_87">
            <div class="v19_37"><span class="v19_35">Procure</span></div>
            <div class="name"></div>
            <span class="v22_86">Procure campos e recintos desportivos perto de si.</span><span class="v22_88">Reserve online e receba a confirmação instantânea por e-mail.</span><span
                class="v22_89">Entre em campo e jogue.</span></div>
    </div>
    <div class="v0_10">
        <div class="v3_452"></div>
        <span class="v0_11">AlugaRecintos</span>
        <div class="v0_13">
            <div class="v0_14"></div>
        </div>
        <div class="v52_94"><span class="v52_89">Reservas</span><span class="v52_90">Recintos</span><span
                class="v52_91">Sobre Nós</span><span class="v52_92">Contactos</span><span class="v52_93">Login</span>
        </div>
    </div>
</div>
</body>
</html>