<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/home.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v0_4">
    <div class="v15_4"></div>
    <div class="v15_5"></div>
    <div class="v0_15">
        <div class="v0_16">
            <span class="v0_17">Encontre e Reserve Recintos Desportivos Perto de Si</span>
        </div>
        <div class="v1_45">
            <div class="v0_20">
                <div class="v211_226">
                    <div class="v211_227">
                        <span class="v211_228"><a href="/recintos">Ver Todos os Recintos</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="v52_162">
        <div class="v18_7">
            <div class="v52_161"></div>
            <span class="v18_6">É dono de um clube desportivo e gostaria de aderir ao nosso serviço?</span></div>
        <div class="v18_10">
            <div class="v18_8"></div>
            <span class="v18_9">Saiba Mais</span></div>
    </div>
    <div class="v26_374"><span class="v19_36">Reserve</span><span class="v19_61">Jogue</span>
        <div class="v22_87">
            <div class="v19_37"><span class="v19_35">Procure</span></div>
            <span class="v22_86">Procure campos e recintos desportivos perto de si.</span><span class="v22_88">Reserve online e receba a confirmação instantânea por e-mail.</span><span
                class="v22_89">Entre em campo e jogue.</span></div>
    </div>
    <div class="v211_221"></div>
    <div class="v211_223"></div>
    <div class="v211_225"></div>

    <div class="v52_106">
        <div class="v52_107"></div>
        <span class="v52_108">AlugaRecintos</span>
        <div class="v52_109">
            <div class="v52_110"></div>
        </div>
        <div class="v52_111">
            <span class="v52_112"><a href="/reservas">Reservas</a></span>
            <span class="v52_113"><a href="/recintos">Recintos</a></span>
            <span class="v52_114"><a href="/sobre-nos">Sobre Nós</a></span>
            <span class="v52_115"><a href="/contactos">Contactos</a></span>
            <span class="v52_116"><a href="/login">Login</a></span>
        </div>
    </div>
</div>
</body>
</html>