<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/login.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v26_5">
    <div class="v26_6"></div>
    <div class="v26_7"></div>
    <div class="v26_129">
        <div class="v26_130">
            <div class="v26_131"></div>
            <span class="v26_132">Não tem conta e gostaria de aderir ao nosso serviço?</span></div>
        <div class="v26_133">
            <div class="v26_134"></div>
            <span class="v26_135">Saiba Mais</span></div>
    </div>
    <div class="v52_163">
        <div class="v26_116">
            <div class="v26_117">
                <div class="v26_118">
                    <div class="v26_119"></div>
                    <span class="v26_120">Entrar</span></div>
            </div>
            <div class="name"></div>
        </div>
        <div class="v26_85">
            <div class="v26_86">
                <div class="v26_87"></div>
            </div>
            <span class="v26_88">Utilizador</span>
            <div class="name"></div>
        </div>
        <div class="v26_92">
            <div class="v26_93">
                <div class="v26_94"></div>
            </div>
            <span class="v26_95">Palavra Passe</span>
            <div class="name"></div>
        </div>
        <div class="v26_114"><span class="v26_113">Manter-me Conectado
</span><span class="v26_115">Recuperar Palavra Passe</span>
            <div class="v26_106"></div>
        </div>
    </div>
    <div class="v52_106">
        <div class="v52_107"></div>
        <span class="v52_108">AlugaRecintos</span>
        <div class="v52_109">
            <div class="v52_110"></div>
        </div>
        <div class="v52_111"><span class="v52_112">Reservas</span><span class="v52_113">Recintos</span><span
                class="v52_114">Sobre Nós</span><span class="v52_115">Contactos</span><span class="v52_116">Login</span>
        </div>
    </div>
</div>
</body>
</html>