<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/pagamentos.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v75_307">
    <div class="v75_308"></div>
    <div class="v75_309"></div>
    <div class="v75_310">
        <div class="v75_311">
            <div class="v75_312"></div>
            <span class="v75_313">Deseja Procurar e Alugar Mais Recintos Desportivos?</span></div>
        <div class="v75_314">
            <div class="v75_315"></div>
            <span class="v75_316">Saiba Mais</span></div>
    </div>
    <div class="v75_330">
        <div class="v75_331"><span class="v75_332">Procure</span></div>
        <div class="name"></div>
        <span class="v75_334">Procure campos e recintos desportivos perto de si.</span><span class="v75_335">Reserve online e receba a confirmação instantânea por e-mail.</span><span
            class="v75_336">Entre em campo e jogue.</span>
        <div class="v75_337"></div>
        <div class="name"></div>
        <span class="v75_339">Jogue</span><span class="v75_340">Reserve</span></div>
    <span class="v75_341">Pagamento</span>
    <div class="v75_381"></div>
    <div class="v75_408">
        <div class="v75_405">
            <div class="v75_406"></div>
            <span class="v75_407">Usar este Método de Pagamento</span></div>
        <div class="v75_412">
            <div class="v75_413"></div>
            <span class="v75_414">Confirmar</span></div>
        <div class="v75_382"><span class="v75_383">1 - Forma de Pagamento</span><span
                class="v75_409">Resumo:</span><span class="v75_410">Total:    25,00€</span><span class="v75_411">Número de Reservas:    1</span><span
                class="v75_384">Mbway</span><span class="v75_385">Multibanco</span></div>
        <div class="name"></div>
        <div class="name"></div>
    </div>
    <div class="v75_342">
        <div class="v75_343"></div>
        <span class="v75_344">AlugaRecintos</span>
        <div class="v75_345"><span class="v75_346">Reservas</span><span class="v75_347">Recintos</span><span
                class="v75_348">Sobre Nós</span><span class="v75_349">Contactos</span><span class="v75_350">1</span>
        </div>
        <div class="v75_351">
            <div class="name"></div>
        </div>
        <div class="name"></div>
    </div>
</div>
</body>
</html>