<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/recintos_logados.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v75_86">
    <div class="v75_87"></div>
    <div class="v75_88"></div>
    <div class="v75_89">
        <div class="v75_90"></div>
        <div class="v75_91">
            <div class="v75_92"></div>
            <span class="v75_93">Reservar</span></div>
        <span class="v75_94">Campo Futebol de Perre</span><span class="v75_95">Dia: 12/12/2024</span><span
            class="v75_96">Duração: 1 Hora</span><span class="v75_97">Total: 25€</span>
        <div class="v75_98"></div>
    </div>
    <div class="v75_99">
        <div class="v75_100"></div>
        <div class="v75_101">
            <div class="v75_102"></div>
            <span class="v75_103">Reservar</span></div>
        <span class="v75_104">Campo Futebol Vianense</span><span class="v75_105">Dia: 12/12/2024</span><span
            class="v75_106">Duração: 1 Hora</span><span class="v75_107">Total: 25€</span>
        <div class="v75_108"></div>
    </div>
    <div class="v75_109">
        <div class="v75_110">
            <div class="v75_111">
                <div class="v75_112">
                    <div class="v75_113"></div>
                </div>
                <span class="v75_114">Futebol</span></div>
            <div class="name"></div>
        </div>
        <div class="v75_116">
            <div class="v75_117">
                <div class="v75_118">
                    <div class="v75_119"></div>
                </div>
                <span class="v75_120">Viana do Castelo</span></div>
            <div class="name"></div>
            <div class="v75_122">
                <div class="v75_123">
                    <div class="v75_124">
                        <div class="v75_125"></div>
                    </div>
                    <span class="v75_126">12/12/2024
</span></div>
                <div class="name"></div>
            </div>
            <div class="v75_128">
                <div class="v75_129">
                    <div class="v75_130">
                        <div class="v75_131"></div>
                    </div>
                    <span class="v75_132">Procurar Campo</span></div>
                <div class="name"></div>
            </div>
        </div>
    </div>
    <div class="v75_134">
        <div class="v75_135">
            <div class="v75_136"></div>
            <span class="v75_137">É dono de um clube desportivo e gostaria de aderir ao nosso serviço?</span></div>
        <div class="v75_138">
            <div class="v75_139"></div>
            <span class="v75_140">Saiba Mais</span></div>
    </div>
    <div class="v75_141"><span class="v75_142">Reserve</span><span class="v75_143">Jogue</span>
        <div class="v75_144"></div>
        <div class="name"></div>
        <div class="v75_146">
            <div class="v75_147"><span class="v75_148">Procure</span></div>
            <div class="name"></div>
            <span class="v75_150">Procure campos e recintos desportivos perto de si.</span><span class="v75_151">Reserve online e receba a confirmação instantânea por e-mail.</span><span
                class="v75_152">Entre em campo e jogue.</span></div>
    </div>
    <div class="v75_153">
        <div class="v75_154"></div>
        <span class="v75_155">AlugaRecintos</span>
        <div class="v75_156"><span class="v75_157">Reservas</span><span class="v75_158">Recintos</span><span
                class="v75_159">Sobre Nós</span><span class="v75_160">Contactos</span></div>
        <div class="name"></div>
        <div class="name"></div>
    </div>
</div>
</body>
</html>