<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/recintos.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v41_70">
    <div class="v41_71"></div>
    <div class="v41_72"></div>
    <div class="v41_156">
        <div class="v41_157"></div>
        <div class="v41_158">
            <div class="v41_159"></div>
            <span class="v41_160">Reservar</span></div>
        <span class="v41_161">Campo Futebol de Perre</span><span class="v41_162">Dia: 12/12/2024</span><span
            class="v41_163">Duração: 1 Hora</span><span class="v41_164">Total: 25€</span>
        <div class="v41_165"></div>
    </div>
    <div class="v41_167">
        <div class="v41_168"></div>
        <div class="v41_169">
            <div class="v41_170"></div>
            <span class="v41_171">Reservar</span></div>
        <span class="v41_172">Campo Futebol Vianense</span><span class="v41_173">Dia: 12/12/2024</span><span
            class="v41_174">Duração: 1 Hora</span><span class="v41_175">Total: 25€</span>
        <div class="v41_176"></div>
    </div>
    <div class="v41_88">
        <div class="v41_89">
            <div class="v41_90">
                <div class="v41_91">
                    <div class="v41_92"></div>
                </div>
                <span class="v41_93">Futebol</span></div>
            <div class="name"></div>
        </div>
        <div class="v41_95">
            <div class="v41_96">
                <div class="v41_97">
                    <div class="v41_98"></div>
                </div>
                <span class="v41_99">Viana do Castelo</span></div>
            <div class="name"></div>
            <div class="v41_101">
                <div class="v41_102">
                    <div class="v41_103">
                        <div class="v41_104"></div>
                    </div>
                    <span class="v41_105">12/12/2024
</span></div>
                <div class="name"></div>
            </div>
            <div class="v41_144">
                <div class="v41_145">
                    <div class="v41_146">
                        <div class="v41_147"></div>
                    </div>
                    <span class="v41_148">Procurar Campo</span></div>
                <div class="name"></div>
            </div>
        </div>
    </div>
    <div class="v41_166">
        <div class="v41_108">
            <div class="v41_109"></div>
            <span class="v41_110">É dono de um clube desportivo e gostaria de aderir ao nosso serviço?</span></div>
        <div class="v41_111">
            <div class="v41_112"></div>
            <span class="v41_113">Saiba Mais</span></div>
    </div>
    <div class="v41_114"><span class="v41_115">Reserve</span><span class="v41_116">Jogue</span>
        <div class="v41_117"></div>
        <div class="name"></div>
        <div class="v41_119">
            <div class="v41_120"><span class="v41_121">Procure</span></div>
            <div class="name"></div>
            <span class="v41_123">Procure campos e recintos desportivos perto de si.</span><span class="v41_124">Reserve online e receba a confirmação instantânea por e-mail.</span><span
                class="v41_125">Entre em campo e jogue.</span></div>
    </div>
    <div class="v52_150">
        <div class="v52_151"></div>
        <span class="v52_152">AlugaRecintos</span>
        <div class="v52_155"><span class="v52_156">Reservas</span><span class="v52_157">Recintos</span><span
                class="v52_158">Sobre Nós</span><span class="v52_159">Contactos</span><span class="v52_160">Login</span>
        </div>
    </div>
</div>
</body>
</html>