<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/registo.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<div class="v26_136">
    <form action="/registo" method="post">
        <div class="v26_137"></div>
        <div class="v26_138"></div>
        <div class="v52_164">
            <div class="v26_146">
                <div class="v26_147">
                    <div class="v26_148">
                        <div class="v26_149">
                            <button type="submit" class="v26_150">Registar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="v26_152">
                <div class="v26_153">
                    <div class="v26_154">
                        <input type="text" name="username" class="v26_155" placeholder="Nome de Utilizador">
                    </div>
                </div>
                <div class="name"></div>
            </div>
            <div class="v26_157">
                <div class="v26_214">
                    <div class="v26_158">
                        <div class="v26_159">
                            <input type="email" name="email" class="v26_160" placeholder="Email">
                            <!-- type="email" for email validation -->
                        </div>
                    </div>
                </div>
                <div class="name"></div>
                <div class="name"></div>
            </div>
            <div class="v26_215">
                <div class="v26_216">
                    <div class="v26_217">
                        <div class="v26_218">
                            <input type="password" name="password" class="v26_219" placeholder="Palavra-Passe">
                        </div>
                    </div>
                </div>
                <div class="name"></div>
            </div>
            <div class="v209_180">
                <div class="v209_181">
                    <div class="v209_182">
                        <div class="v209_183">
                            <input type="tel" name="contacto" class="v209_184" placeholder="Telemóvel">
                            <!-- Changed name to 'contacto' -->
                        </div>
                    </div>
                    <div class="name"></div>
                </div>
            </div>
            <div class="v209_190">
                <div class="v209_191">
                    <div class="v209_192">
                        <div class="v209_193">
                            <input type="text" name="nome" class="v26_155" placeholder="Nome Completo">
                        </div>
                    </div>
                    <div class="name"></div>
                </div>
            </div>
            <div class="v209_158">
                <div class="v209_159">
                    <div class="v209_160">
                        <div class="v209_161">
                            <input type="text" name="nif" class="v209_162" placeholder="NIF">
                            <!-- Changed name to lowercase 'nif' -->
                        </div>
                    </div>
                    <div class="name"></div>
                </div>
            </div>
            <span class="v26_168">Registar</span>
        </div>
</form>

<span class="v52_108">AlugaRecintos</span>
<div class="v52_117">
    <div class="v52_111">
        <span class="v52_112"><a href="/reservas">Reservas</a></span>
        <span class="v52_113"><a href="/recintos">Recintos</a></span>
        <span class="v52_114"><a href="/sobre-nos">Sobre Nós</a></span>
        <span class="v52_115"><a href="/contactos">Contactos</a></span>
        <span class="v52_116"><a href="/login">Login</a></span>
    </div>
</div>
</div>
</body>
</html>
