<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/registar_recinto.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v64_49">
    <div class="v64_50"></div>
    <div class="v64_51"></div>
    <div class="v64_127">
        <div class="v64_130">
            <div class="v64_131"></div>
            <span class="v64_132">Registar Recinto
</span>
            <div class="name"></div>
        </div>
        <div class="v64_134">
            <div class="v64_136"></div>
            <span class="v64_137">Tipo de Recinto</span>
            <div class="name"></div>
        </div>
        <div class="v64_141">
            <div class="v64_142"></div>
            <span class="v64_143">Dimensões</span>
            <div class="name"></div>
            <div class="name"></div>
        </div>
        <div class="v64_147">
            <div class="v64_149"></div>
            <span class="v64_150">Material Disponível</span>
            <div class="name"></div>
        </div>
        <div class="v64_153">
            <div class="v64_155"></div>
            <span class="v64_156">Horário de Abertura</span>
            <div class="name"></div>
        </div>
        <div class="v64_196">
            <div class="v64_197"></div>
            <span class="v64_198">Preço</span>
            <div class="name"></div>
        </div>
        <div class="v64_180">
            <div class="v64_181"></div>
            <span class="v64_182">Horário de Encerramento</span>
            <div class="name"></div>
        </div>
        <span class="v64_163">Registar Recinto</span></div>
    <div class="v64_86"><span class="v64_87">Reserve</span><span class="v64_88">Jogue</span>
        <div class="v64_89"></div>
        <div class="name"></div>
        <div class="v64_91">
            <div class="v64_92"><span class="v64_93">Procure</span></div>
            <div class="name"></div>
            <span class="v64_95">Procure campos e recintos desportivos perto de si.</span><span class="v64_96">Reserve online e receba a confirmação instantânea por e-mail.</span><span
                class="v64_97">Entre em campo e jogue.</span></div>
    </div>
    <div class="v64_98">
        <div class="v64_99"></div>
        <span class="v64_100">AlugaRecintos</span>
        <div class="v64_101">
            <div class="v64_102"></div>
        </div>
        <div class="v64_103"><span class="v64_104">Reservas</span><span class="v64_105">Recintos</span><span
                class="v64_106">Sobre Nós</span><span class="v64_107">Contactos</span><span class="v64_108">Login</span>
        </div>
    </div>
</div>
</body>
</html>