<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/registo.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v26_136">
    <div class="v26_137"></div>
    <div class="v26_138"></div>
    <div class="v52_164">
        <div class="v26_146">
            <div class="v26_147">
                <div class="v26_148">
                    <div class="v26_149"></div>
                    <span class="v26_150">Registar
</span></div>
            </div>
            <div class="name"></div>
        </div>
        <div class="v26_152">
            <div class="v26_153">
                <div class="v26_154"></div>
            </div>
            <span class="v26_155">Nome de Utilizador</span>
            <div class="name"></div>
        </div>
        <div class="v26_157">
            <div class="v26_214">
                <div class="v26_158">
                    <div class="v26_159"></div>
                </div>
                <span class="v26_160">Email</span></div>
            <div class="name"></div>
            <div class="name"></div>
        </div>
        <div class="v26_215">
            <div class="v26_216">
                <div class="v26_217">
                    <div class="v26_218"></div>
                </div>
                <span class="v26_219">Palavra Passe</span>
                <div class="name"></div>
            </div>
        </div>
        <div class="v26_225">
            <div class="v26_226">
                <div class="v26_227">
                    <div class="v26_228"></div>
                </div>
                <span class="v26_229">Repita a Palavra Passe</span>
                <div class="name"></div>
            </div>
        </div>
        <div class="v26_162">
            <div class="v26_163"><span class="v26_164">Confirmo que aceito os termos e condições</span>
                <div class="v26_166">
                    <div class="v26_167"></div>
                </div>
            </div>
        </div>
        <span class="v26_168">Registar</span></div>
    <div class="v52_117">
        <div class="v52_118"></div>
        <span class="v52_119">AlugaRecintos</span>
        <div class="v52_122"><span class="v52_123">Reservas</span><span class="v52_124">Recintos</span><span
                class="v52_125">Sobre Nós</span><span class="v52_126">Contactos</span><span class="v52_127">Login</span>
        </div>
    </div>
</div>
</body>
</html>