<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/sobre-nos.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v221_150">
    <div class="v221_151"></div>
    <div class="v221_152"></div>
    <div class="v221_153">
        <div class="v221_154">
            <div class="v221_155"></div>
            <div class="v221_156"><span class="v221_158">Leonardo Mendes - nº 28224
João Rocha - nº 27116

Unidade Currícular: Projeto II</span></div>
            <div class="v221_168"><span class="v221_170">Enviar</span></div>
        </div>
        <span class="v221_171">Sobre Nós</span></div>
    <div class="v52_106">
        <div class="v52_107"></div>
        <span class="v52_108">AlugaRecintos</span>
        <div class="v52_109">
            <div class="v52_110"></div>
        </div>
        <div class="v52_111">
            <span class="v52_112"><a href="/reservas">Reservas</a></span>
            <span class="v52_113"><a href="/recintos">Recintos</a></span>
            <span class="v52_114"><a href="/sobre-nos">Sobre Nós</a></span>
            <span class="v52_115"><a href="/contactos">Contactos</a></span>
            <span class="v52_116"><a href="/registo">Registar</a></span>
        </div>
    </div>
</div>
</body>
</html>